www/snapshots/nvr_01K57KAZXG3HY8436FCAH76939_ch5_20250917_101628.jpg
www/snapshots/nvr_01K57KAZXG3HY8436FCAH76939_ch5_20250917_101640.jpg
www/snapshots/nvr_01K57KAZXG3HY8436FCAH76939_ch5_20250917_103353.jpg
www/snapshots/nvr_01K57KAZXG3HY8436FCAH76939_ch5_latest.jpg
*.db
.gitignore
home-assistant_v2.db-shm
home-assistant.log
home-assistant.log.1
home-assistant.log.fault
.gitignore
home-assistant_v2.db-wal
.HA_VERSION
blueprints/automation/homeassistant/motion_light.yaml
blueprints/automation/homeassistant/notify_leaving_zone.yaml
blueprints/script/homeassistant/confirmable_notification.yaml
.storage/auth
.storage/auth_provider.homeassistant
.storage/core.analytics
.storage/core.area_registry
.storage/core.config
.storage/core.config_entries
.storage/core.device_registry
.storage/core.entity_registry
.storage/core.restore_state
.storage/http
.storage/http.auth
.storage/lovelace_dashboards
.storage/lovelace.map
.storage/onboarding
.storage/person
.storage/repairs.issue_registry
.storage/trace.saved_traces
configuration.yaml
